deploy_ip: 192.168.1.10
deploy_port: 22
deploy_user: user
deploy_key: '/home/user/.ssh/id_rsa'
deploy_pub: '/home/user/.ssh/id_rsa.pub'
deploy_mysqluser: root
deploy_mysqlpass: PasswordForMysqlRoot
new_user: new_user
new_user_password: YOUR_NEW_USER_PASSWORD_HASH
new_user_ssh_pub: YOUR_NEW_USER_SSH_PUB_KEY_FOR_AUTHORIZED_HOSTS
repo_known_hosts_entry: YOUR_SSH_KNOWN_HOST_FINGERPRINT_FOR_REPO_SERVER
